/*
	> Base CSS Licensed by Pixelarity
	> Modified & Built Upon by ZMHCreative 2015
*/

/* Basic */

	body:after {
		display: none;
	}

/* Main */

	#main {
		-moz-transform: none !important;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
		opacity: 1 !important;
	}